<!DOCTYPE html>
<html>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<head>
	<title><%= title %></title>
	<script type="text/javascript">
	  function onClick(pId){
	    // var gameNum = document.getElementById("gameNum").value
	    // window.location.href = "?id="+pId;
	    alert(pId)
	  }
	</script>
	</head>
  <body>
    <h1><%= title %></h1>
   	<button onclick="onClick(1)">test1</button>
   	<button onclick="onClick(2)">test2</button>
   	<button onclick="onClick(3)">test3</button>
   	<button onclick="onClick(4)">test4</button>
   	<button onclick="onClick(5)">test5</button>
   	<button onclick="onClick(6)">test6</button>
  </body>
</html>
