<!DOCTYPE html>
<html>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<head>
	<title>游戏工具</title>
	<script type="text/javascript">
	  function onClick(pId){
	    // var gameNum = document.getElementById("gameNum").value
	    window.location.href = "?id="+pId;
	  }
	</script>
	</head>
  <body>
    <h1>游戏工具</h1>
   	<button onclick="onClick(1)">数据转换</button>
   	<button onclick="onClick(2)">热更新</button>
   	<button onclick="onClick(3)">打包</button>
   	<button onclick="onClick(4)">检查重复资源</button>
   	<button onclick="onClick(5)">test svn</button>
   	<button onclick="onClick(6)">打包</button>

   	<br>
   	<p id="text"><%= text %></p>
  </body>
</html>
